<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.mapper.manage.dimTourDevcAmmeter.DimTourDevcAmmeterDao">
	<!-- com.hqt1af.entity.manage.DimTourDevcAmmeter -->
 	<resultMap id="base" type="DimTourDevcAmmeter" >
	     <result column="id" property="id" jdbcType="CHAR"/>
	     <result column="resourceId" property="resourceId" jdbcType="CHAR"/>
	     <result column="resourceId_3d" property="resourceId3d" jdbcType="CHAR"/>
	     <result column="meas_id" property="measId" jdbcType="CHAR"/>
	     <result column="meas_name" property="measName" jdbcType="CHAR"/>
	     <result column="device_id" property="deviceId" jdbcType="CHAR"/>
	     <result column="device_name" property="deviceName" jdbcType="CHAR"/>
	     <result column="channel_name" property="channelName" jdbcType="CHAR"/>
	     <result column="data_id" property="dataId" jdbcType="CHAR"/>
	     <result column="value" property="value" jdbcType="CHAR"/>
	     <result column="switch_value" property="switchValue" jdbcType="CHAR"/>
	     <result column="status" property="status" jdbcType="INTEGER"/>
	     <result column="remark" property="remark" jdbcType="CHAR"/>
	     <result column="sort" property="sort" jdbcType="INTEGER"/>
	     <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
	     <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
 	</resultMap>
 	
 	<!-- 查看详情 -->
 	<select id="find"  resultMap="base" parameterType="DimTourDevcAmmeter">
       SELECT t.* FROM dim_tour_devc_ammeter t WHERE 1=1 
       <if test="id != null and id!='' ">
        	AND t.id=#{id}
       </if>
    </select>
 	
 	<!-- 列表查询 -->
 	<select id="findByPage"  resultMap="base" parameterType="DimTourDevcAmmeter">
       SELECT t.* FROM dim_tour_devc_ammeter t WHERE 1=1 
       <if test="param.status!= null">
        AND t.status=#{param.status}
       </if>
       <if test="param.keyWord!=null and param.keyWord!='' ">
       AND (t.name LIKE CONCAT('%',#{param.keyWord},'%'))
       </if>
        ORDER BY t.createTime desc
    </select>
    
 	<!-- 记录数 -->
    <select id="count"  resultType="int" parameterType="DimTourDevcAmmeter">
       SELECT count(*) FROM dim_tour_devc_ammeter t WHERE 1=1 
    </select>  
    
    <!-- 添加 -->      
 	<insert id="insert" parameterType="DimTourDevcAmmeter">	
 	<![CDATA[
	INSERT INTO dim_tour_devc_ammeter(
	id ,resourceId ,resourceId_3d ,meas_id ,meas_name ,device_id ,device_name ,channel_name ,data_id ,value ,switch_value ,status ,remark ,sort ,createTime ,updateTime 
	) VALUES (
	#{id}, #{resourceId}, #{resourceId3d}, #{measId}, #{measName}, #{deviceId}, #{deviceName}, #{channelName}, #{dataId}, #{value}, #{switchValue}, #{status}, #{remark}, #{sort}, #{createTime}, #{updateTime} 
	)
	]]>  
	</insert>
	
	<!-- 批量添加 -->      
 	<insert id="insertBatch" parameterType="java.util.List">	
	INSERT INTO dim_tour_devc_ammeter(
	id ,resourceId ,resourceId_3d ,meas_id ,meas_name ,device_id ,device_name ,channel_name ,data_id ,value ,switch_value ,status ,remark ,sort ,createTime ,updateTime 
	) VALUES 
	<foreach item="o" collection="list"  separator="," >
	(#{o.id}, #{o.resourceId}, #{o.resourceId3d}, #{o.measId}, #{o.measName}, #{o.deviceId}, #{o.deviceName}, #{o.channelName}, #{o.dataId}, #{o.value}, #{o.switchValue}, #{o.status}, #{o.remark}, #{o.sort}, #{o.createTime}, #{o.updateTime} )
	</foreach>
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="DimTourDevcAmmeter">
		UPDATE dim_tour_devc_ammeter 
		SET
          resourceId = #{resourceId},
          resourceId_3d = #{resourceId3d},
          meas_id = #{measId},
          meas_name = #{measName},
          device_id = #{deviceId},
          device_name = #{deviceName},
          channel_name = #{channelName},
          data_id = #{dataId},
          value = #{value},
          switch_value = #{switchValue},
          status = #{status},
          remark = #{remark},
          sort = #{sort},
          createTime = #{createTime},
          updateTime = #{updateTime}
		WHERE id=#{id}
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="DimTourDevcAmmeter">
	DELETE FROM dim_tour_devc_ammeter  
	WHERE id=#{id}
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType ="java.util.List">
	DELETE FROM dim_tour_devc_ammeter WHERE id in(
		<foreach item="o" collection="list" open="" separator="," close="" >
#{o.id}		</foreach>
		)
	</delete>
	
	<select id="findBySql" parameterType="string" resultMap="base">${sql}</select>

    <select id="updateBySql" parameterType="string" resultType="java.lang.Integer">${sql}</select>
    
    <select id="findObjBySql" parameterType="string" resultType="java.lang.Object">${sql}</select>
</mapper>