<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.mapper.manage.dimTourDevcEntranceGuard.DimTourDevcEntranceGuardDao">
	<!-- com.hqt1af.entity.manage.DimTourDevcEntranceGuard -->
 	<resultMap id="base" type="DimTourDevcEntranceGuard" >
	     <result column="id" property="id" jdbcType="CHAR"/>
	     <result column="resourceId" property="resourceId" jdbcType="CHAR"/>
	     <result column="resourceId_3d" property="resourceId3d" jdbcType="CHAR"/>
	     <result column="name" property="name" jdbcType="CHAR"/>
	     <result column="type_desc" property="typeDesc" jdbcType="CHAR"/>
	     <result column="type_code" property="typeCode" jdbcType="CHAR"/>
	     <result column="type_name" property="typeName" jdbcType="CHAR"/>
	     <result column="ip" property="ip" jdbcType="CHAR"/>
	     <result column="port" property="port" jdbcType="CHAR"/>
	     <result column="code" property="code" jdbcType="CHAR"/>
	     <result column="region_index_code" property="regionIndexCode" jdbcType="CHAR"/>
	     <result column="treaty_type" property="treatyType" jdbcType="CHAR"/>
	     <result column="status" property="status" jdbcType="INTEGER"/>
	     <result column="remark" property="remark" jdbcType="CHAR"/>
	     <result column="sort" property="sort" jdbcType="INTEGER"/>
	     <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
	     <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
 	</resultMap>
 	<!-- 查看详情 -->
 	<select id="find"  resultMap="base" parameterType="DimTourDevcEntranceGuard">
       SELECT t.* FROM dim_tour_devc_entrance_guard t WHERE 1=1 
       <if test="id != null and id!='' ">
        	AND t.id=#{id}
       </if>
    </select>
 	<!-- 列表查询 -->
 	<select id="findByPage"  resultMap="base" parameterType="DimTourDevcEntranceGuard">
       SELECT t.* FROM dim_tour_devc_entrance_guard t WHERE 1=1 
       <if test="param.status!= null">
        AND t.status=#{param.status}
       </if>
       <if test="param.keyWord!=null and param.keyWord!='' ">
       AND (t.name LIKE CONCAT('%',#{param.keyWord},'%'))
       </if>
        ORDER BY t.createTime desc
    </select>
    <!-- 列表查询 -->
 	<select id="find3dByPage"  resultMap="base" parameterType="DimTourDevcEntranceGuard">
       SELECT t.* FROM dim_tour_devc_entrance_guard t WHERE 1=1 
       <if test="param.status!= null">
        AND t.status=#{param.status}
       </if>
       <if test="param.keyWord!=null and param.keyWord!='' ">
       AND (t.name LIKE CONCAT('%',#{param.keyWord},'%'))
       </if>
        ORDER BY t.createTime desc
    </select>
 	<!-- 记录数 -->
    <select id="count"  resultType="int" parameterType="DimTourDevcEntranceGuard">
       SELECT count(*) FROM dim_tour_devc_entrance_guard t WHERE 1=1 
    </select>  
    
    <!-- 添加 -->      
 	<insert id="insert" parameterType="DimTourDevcEntranceGuard">	
 	<![CDATA[
	INSERT INTO dim_tour_devc_entrance_guard(
	id ,resourceId ,resourceId_3d ,name ,type_desc ,type_code ,type_name ,ip ,port ,code ,region_index_code ,treaty_type ,status ,remark ,sort ,createTime ,updateTime 
	) VALUES (
	#{id}, #{resourceId}, #{resourceId3d}, #{name}, #{typeDesc}, #{typeCode}, #{typeName}, #{ip}, #{port}, #{code}, #{regionIndexCode}, #{treatyType}, #{status}, #{remark}, #{sort}, #{createTime}, #{updateTime} 
	)
	]]>  
	</insert>
	
	<!-- 批量添加 -->      
 	<insert id="insertBatch" parameterType="java.util.List">	
	INSERT INTO dim_tour_devc_entrance_guard(
	id ,resourceId ,resourceId_3d ,name ,type_desc ,type_code ,type_name ,ip ,port ,code ,region_index_code ,treaty_type ,status ,remark ,sort ,createTime ,updateTime 
	) VALUES 
	<foreach item="o" collection="list"  separator="," >
	(#{o.id}, #{o.resourceId}, #{o.resourceId3d}, #{o.name}, #{o.typeDesc}, #{o.typeCode}, #{o.typeName}, #{o.ip}, #{o.port}, #{o.code}, #{o.regionIndexCode}, #{o.treatyType}, #{o.status}, #{o.remark}, #{o.sort}, #{o.createTime}, #{o.updateTime} )
	</foreach>
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="DimTourDevcEntranceGuard">
		UPDATE dim_tour_devc_entrance_guard 
		SET
          resourceId = #{resourceId},
          resourceId_3d = #{resourceId3d},
          name = #{name},
          type_desc = #{typeDesc},
          type_code = #{typeCode},
          type_name = #{typeName},
          ip = #{ip},
          port = #{port},
          code = #{code},
          region_index_code = #{regionIndexCode},
          treaty_type = #{treatyType},
          status = #{status},
          remark = #{remark},
          sort = #{sort},
          createTime = #{createTime},
          updateTime = #{updateTime}
		WHERE id=#{id}
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="DimTourDevcEntranceGuard">
	DELETE FROM dim_tour_devc_entrance_guard  
	WHERE id=#{id}
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType ="java.util.List">
	DELETE FROM dim_tour_devc_entrance_guard WHERE id in(
		<foreach item="o" collection="list" open="" separator="," close="" >
#{o.id}		</foreach>
		)
	</delete>
	
	<select id="findBySql" parameterType="string" resultMap="base">${sql}</select>

    <select id="updateBySql" parameterType="string" resultType="java.lang.Integer">${sql}</select>
    
    <select id="findObjBySql" parameterType="string" resultType="java.lang.Object">${sql}</select>
</mapper>